body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.field {
  width: 125em;
  padding: 1em;
}

.loader {
  margin: auto;
  display: flex;
  justify-content: center;
}

.user-image {
  height: 7em;
  width: 7em;
}

.color {
  background-color: blue;
  height: 100vh;
  color: white;
}

.thinking-man {
  height: 17em;
  width: 20em;
}

.field{
  margin-left: 11em
}

.button {
  margin-left: -1em;
  margin-top: 0em;
  padding: 1.34em;
}
